<h1>Total Apartments: {{model.length}}</h1>
{{link-to 'Add New Listing' 'apartments.new'}}
{{#each apartment in model}}
  <ul>
    {{#link-to 'apartments.show' apartment}}
      <li>Address: {{apartment.address}}</li>
    {{/link-to}}
    <li>Price per Month: ${{apartment.price}}</li>
    <li>Listing: {{apartment.listingUrl}}</li>
    <li>Available? {{apartment.available}}</li>
  </ul>
{{/each}}
