<h1>Apartments</h1>
{{link-to 'New' 'apartments.new'}}
{{#each apartment in model}}
  <ul>
    <li><strong>Address:</strong> {{#link-to 'apartments.show' apartment}}{{apartment.address}}{{/link-to}}</li>
    <li><strong>Price:</strong> ${{apartment.price}}</li>
    <li><strong>Listing:</strong> {{apartment.listingUrl}}</li>
    <li><strong>Available:</strong> {{apartment.available}}</li>
    <button {{action "delete" apartment on="click"}}>Delete</button>
  </ul>
{{/each}}
