<h1>Total Apartments: {{model.length}}</h1>

{{#each apartment in model}}
  <ul>
    <li>Address: {{apartment.address}}</li>
    <li>Price per Month: ${{apartment.price}}</li>
    <li>Listing: {{apartment.listingUrl}}</li>
    <li>Available? {{apartment.available}}</li>
  </ul>
{{/each}}
