{{#md-card title=model.address
    titleClass="orange-text"
    image=model.photoUrl
    id=model.id}}

    {{#md-card-content}}
      {{model.description}}

      <ul>
        <li>Available? {{model.available}}</li>
        <li>Price: ${{model.price}}</li>
        <li>Source: {{model.listingUrl}}</li>
      </ul>
      <h5>Location</h5>
      <strong>City:</strong> {{model.city}}
      <strong>State:</strong> {{model.state}}
      <strong>Zip:</strong> {{model.zip}}
    {{/md-card-content}}

    {{#md-card-action}}
        {{#link-to 'apartments.edit' model}}Edit{{/link-to}}
        {{#link-to 'apartments'}}Back{{/link-to}}
    {{/md-card-action}}

{{/md-card}}
